//- PUG INCLUDES
include ./includes/main

//- PAGE DATA
- const featuresSectionData = require("./js/data/featuresSectionData.js");
- const toursSectionData = require("./js/data/toursSectionData.js");
- const storiesSectionData = require("./js/data/storiesSectionData.js");
- const bookSectionFormData = require("./js/data/bookSectionFormData.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Natours | Exciting tours for adventurous people
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap', rel='stylesheet')
  body
    //- Used only to set gradients to svg icons
    +svg-horizontal-gradient
    
    .navigation
      input(type="checkbox")#navi-toggle.navigation__checkbox
      label(for="navi-toggle").navigation__button
        span.navigation__icon
      .navigation__bg
      nav.navigation__nav
        ul.navigation__list
          for item, index in ['About Natours', 'Your benefits', 'Popular tours', 'Stories', 'Book now'] 
            li.navigation__item
              a.navigation__link(href="#")
                span 0#{index+1}
                | #{item}

    header.header
      +svg-logo('header__logo')
      .header__text-box
        h1.heading-primary
          span.heading-primary--main Outdoors
          span.heading-primary--sub is where life happens
        a(href="#").btn.btn--white.btn--animated Discover our tours
    
    main
      section.section-about
        .container
          .u-text-center.u-margin-bottom-big
            h2.heading-secondary Exciting tours for adventurous people
          .about-grid
            .text-wrapper
              h3.heading-tertiary.u-margin-bottom-small You're going to fall in love with nature
              p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet deleniti eius velit ducimus nisi! Quia natus mollitia odio deleniti consectetur! Dolor, eos. 
              h3.heading-tertiary.u-margin-bottom-small Live adventures like you never have before
              p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam itaque nisi molestias cum?
              a(href="#").btn-text Learn more &rarr;
            .composition
              img(src=require("./img/nat-1-large.jpg"), alt="Composition photo").composition__photo.composition__photo--ph1
              img(src=require("./img/nat-2-large.jpg"), alt="Composition photo").composition__photo.composition__photo--ph2
              img(src=require("./img/nat-3-large.jpg"), alt="Composition photo").composition__photo.composition__photo--ph3
      
      section.section-features
        .container
          .about-grid
            for data in featuresSectionData
              +feature-box(data)
            
      section.section-tours
        .container
          .u-text-center.u-margin-bottom-big
            h2.heading-secondary Most popular tours
          .tours-grid
            for data, index in toursSectionData
              +card(data, index)
          .u-text-center.u-margin-top-huge
            a(href="#", title="title").btn.btn--green Discover all tours 
      
      section.section-stories
        +bg-video('video')
        .container
          .u-text-center.u-margin-bottom-big
            h2.heading-secondary We make people genuinely happy
          for data in storiesSectionData
              +story(data)
          .u-text-center.u-margin-top-huge
            a(href="#").btn-text Read all stories &rarr; 

      section.section-book
        .container
          .book
            .book__form
              +form(bookSectionFormData, 'Start booking now!')
              
    footer.footer
      .container
        .footer__logo-box.u-margin-bottom-big
          +svg-logo('footer__logo')
          p.footer__logo-text Natours
        .footer__flex-wrapper
          .footer__navigation
            ul.footer__list
              for item in ['Company','Contact us','Carrers','Privacy policy','Terms']
                li.footer__item
                  a.footer__link(href="#")= item
          p.footer__copyright Project design by Jonas Schmedtmann


      